
{% extends 'courses/main-layout.html' %}

{% block title %}
  {{ title }}
{% endblock %}

{% block main_section %}
  <div class="container">
    <h1>Добавить новую статью</h1>
      <div class="courses">
        <div id="form_container">
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-actions form-group ">
              <button type="submit" class="btn btn-outline-warning"">Отправить</button>
            </div>
          </form>
        </div>
      </div>
  </div>
{% endblock %}
